@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR';
    font-size: 12px;
    color: #262626;
    overflow-x: hidden;
}

.wrap {
    width: 100%;
}

nav {
    position: absolute;
    width: 100%;
    height: 170px;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

nav .topNav {
    width: 100%;
    height: 120px;
    background-color: #f2f2f2;
}

nav .bottomNav {
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0);
    transition: all 0.5s;
    overflow: hidden;
}

nav .bottomNav.on {
    top: 0;
    position: fixed;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

header {
    width: 100%;
    height: 720px;
    overflow: hidden;
    margin-top: 170px;
    background-color: #273658;
}

main {
    width: 100%;
}

main .coffebene_menu {
    width: 100%;
    height: 800px;
    background-color: #fff;
}

main .coffebene_our {
    width: 100%;
    height: 500px;
    background-color: #fff;
}

main .coffebene_md {
    width: 100%;
    height: 800px;
    background-color: #fff;
}

main .coffebene_cont {
    width: 100%;
    height: 900px;
    background-color: #f2f2f2;
}

main .coffebene_sns {
    width: 100%;
    height: 400px;
    background-color: #ddd;
}

footer {
    width: 100%;
    height: 400px;
}

footer .sitemap {
    width: 100%;
    height: 300px;
    background-color: #fff;
}

footer .footer {
    width: 100%;
    height: 100px;
    background-color: #00a5b1;
}

/* ----- 위 nav ----- */
nav .topNav .topNav-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

nav .topNav .topNav-inner h1 {
    width: 100%;
    height: 64px;
    text-align: center;
    padding: 25px 0 31px 0;
}

nav .topNav .topNav-inner .sns {
    position: absolute;
    top: 50%;
    left: 0;
}

nav .topNav .topNav-inner .sns li {
    padding-right: 20px;
    float: left;
}

nav .topNav .topNav-inner .sns li a {
    font-family: 'Cafe24SsurroundAir';
    color: #273658;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.3s;
}

nav .topNav .topNav-inner .sns li:hover a {
    color: #00a5b1;
}

nav .topNav .topNav-inner .lang {
    position: absolute;
    top: 25px;
    right: 0;
    width: 55px;
    height: 20px;
    background: #f2f2f2;
    border: 1px solid #273658;
    overflow: hidden;
    z-index: 5;
}

nav .topNav .topNav-inner .lang.on {
    height: 60px;
}

nav .topNav .topNav-inner .lang li {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #273658;
    cursor: pointer;
}

nav .topNav .topNav-inner .lang li:hover {
    background-color: #273658;
}

nav .topNav .topNav-inner .lang li a {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    font-family: 'Cafe24SsurroundAir';
    color: #273658;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
}

nav .topNav .topNav-inner .lang li:hover a {
    color: #fff;
}

nav .topNav .topNav-inner .etc {
    position: absolute;
    right: 0%;
    top: 50%;
}

nav .topNav .topNav-inner .etc li {
    padding-left: 20px;
    float: left;
}

nav .topNav .topNav-inner .etc li a {
    font-family: 'Cafe24SsurroundAir';
    color: #273658;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.3s;
}

nav .topNav .topNav-inner .etc li:hover a {
    color: #00a5b1;
}

/* ----- 아래 nav ----- */
nav .bottomNav .bottomNav-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

nav .bottomNav .bottomNav-inner .nav_user {
    position: absolute;
    left: 0;
    top: 17px;
}

nav .bottomNav .bottomNav-inner .nav_user li {
    float: left;
    padding-right: 20px;
}

nav .bottomNav .bottomNav-inner .nav_user li a {
    font-family: 'Noto Sans KR';
    color: #273658;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s;
}

nav .bottomNav .bottomNav-inner .nav_user li:hover a {
    color: #00a5b1;
}

nav .bottomNav .bottomNav-inner .nav_menu {
    position: absolute;
    right: 0;
    top: 17px;
    right: -30px;
}

nav .bottomNav .bottomNav-inner .nav_menu>li {
    float: left;
    position: relative;
}

nav .bottomNav .bottomNav-inner .nav_menu>li>a {
    font-family: 'Noto Sans KR';
    color: #273658;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s;
    padding: 0 30px;
}

nav .bottomNav .bottomNav-inner .nav_menu>li:hover>a {
    color: #00a5b1;
}

/* ----- sub_menu ----- */
nav .bottomNav .bottomNav-inner .nav_menu>li>.sub_menu {
    position: absolute;
    width: 100%;
    padding-top: 40px;
    text-align: center;
}

nav .bottomNav .bottomNav-inner .nav_menu>li>.sub_menu>li {
    clear: both;
    margin-bottom: 12px;
}

nav .bottomNav .bottomNav-inner .nav_menu>li>.sub_menu>li>a {
    display: block;
    font-size: 15px;
    color: #616161;
}

nav .bottomNav .bottomNav-inner .nav_menu>li>.sub_menu>li:hover>a {
    color: #00a5b1;
}

/* ----- 헤더 슬라이더 ----- */
header .header-slider {
    position: relative;
    width: 2560px;
    margin: 0 auto;
    left: 50%;
    margin-left: -1280px;
}

header .header-slider .slick-slide img {
    height: 100%;
}

/* header .header-slider .slick-prev {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

header .header-slider .slick-next {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
} */

.header-slider .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

.header-slider .slick-dots li {
    display: inline-block;
    margin-right: 10px;
}

.header-slider .slick-dots li:last-child {
    margin-right: 0;
}

.header-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
    padding: 1px;
    transition: all 0.5s;
}

.header-slider .slick-dots li.slick-active button {
    width: 70px;
    opacity: 0.7;
}

/* ----- coffebene_menu ----- */

.menu-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.menu-inner h1 {
    width: 100%;
    color: #273658;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    display: inline-block;
}

.menu-inner h1 strong {
    font-weight: 700;
}

.menu-inner ul {
    display: inline-block;
    margin-top: 120px;
}

.menu-inner ul li {
    position: relative;
    float: left;
    width: 330px;
    height: 330px;
    background-color: #f2f2f2;
    border-radius: 500px;
    overflow: hidden;
    text-align: center;
    margin-right: 40px;
}

.menu-inner ul li:last-child {
    margin-right: 0;
}

.menu-inner ul li a img {
    position: absolute;
    width: 90%;
    height: 90%;
    display: block;
    line-height: 100%;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.5s;
}

.menu-inner ul li .mask {
    position: absolute;
    width: 330px;
    height: 330px;
    background-color: #00a5b1;
    border-radius: 500px;
    opacity: 0;
    transition: all 0.5s;
}

.menu-inner ul li .mask strong {
    position: relative;
    display: block;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 30px;
    z-index: 5;
}

.menu-inner ul li .mask span {
    position: relative;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    z-index: 5;
}

.menu-inner ul li .mask img {
    position: absolute;
    width: 150%;
    height: 150%;
    opacity: 0.2;
    top: 300px;
    transition: all 1s;
}

.menu-inner ul li:hover>a>img {
    top: 500px;
    opacity: 0;
}

.menu-inner ul li:hover .mask {
    opacity: 1;
}

.menu-inner ul li:hover .mask img {
    top: 30px;
}

/* ----- our_coffebene ----- */

.coffebene_our {
    background-image: url(../image/our-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.coffebene_our .our-inner {
    position: relative;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
}

.coffebene_our .our-inner h1 {
    position: absolute;
    top: 100px;
    right: 0;
    font-size: 60px;
    font-family: 'Cafe24Oneprettynight';
    color: #273658;
    margin-right: -80%;
}

.coffebene_our .our-inner p {
    position: absolute;
    bottom: 100px;
    right: 0;
    font-size: 25px;
    font-family: 'Cafe24Oneprettynight';
    color: #273658;
    text-align: right;
    margin-right: -80%;
}

@keyframes ourAni {
    100% {
        margin-right: 0;
    }
}

.coffebene_our .our-inner h1.on {
    animation: ourAni 1.5s;
    animation-fill-mode: forwards;
}

.coffebene_our .our-inner p.on {
    animation: ourAni 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

/* ----- coffebene_md ----- */
.md-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.md-inner h1 {
    width: 100%;
    color: #273658;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    display: inline-block;
}

.md-inner h1 strong {
    font-weight: 700;
}

.md-inner .md-slider {
    margin-top: 120px;
}

.md-inner .md-slider .slick-slide {
    margin: 0 15px;
}

.md-inner .md-slider .mdCont {
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 330px;
}

.md-inner .md-slider .mdCont img {
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
    transition: all 0.5s;
}

.md-inner .md-slider .slick-slide:hover img {
    transform: scale(1.1, 1.1);
}

.md-inner .md-slider .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(47, 178, 186, 0.85);
    opacity: 0;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.md-inner .md-slider .slick-slide:hover .mask {
    opacity: 1;
}

.md-inner .md-slider .mask strong {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.md-inner .md-slider .mask span {
    display: block;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    margin-top: 20px;
    line-height: 1.2;
}

.md-inner .md-slider .mask .price {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    text-align: right;
}

.md-inner .md-slider .mask .icon {
    position: relative;
    height: 50px;
    text-align: center;
    top: 10px;
}

.md-inner .md-slider .mask .icon a {
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 5px;
    transition: all 0.5s;
}

.md-inner .md-slider .mask .icon a i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #00a5b1;
    transition: all 0.5s;
}

.md-inner .md-slider .mask .icon a:hover {
    background-color: #273658;
}

.md-inner .md-slider .mask .icon a:hover i {
    color: #fff;
}

.md-inner .md-slider .slick-arrow {
    width: 60px;
    height: 60px;
    border: none;
    top: 50%;
    margin-top: -30px;
    position: absolute;
    z-index: 10;
    text-indent: -9999px;
    cursor: pointer;
}

.md-inner .md-slider .slick-prev {
    background: url(../image/btn_prev.png) no-repeat center;
    background-size: cover;
    left: -5.5%;
    opacity: 0.5;
    transition: all 0.3s;
}

.md-inner .md-slider .slick-prev:hover {
    opacity: 1;
}

.md-inner .md-slider .slick-next {
    background: url(../image/btn_next.png) no-repeat center;
    background-size: cover;
    right: -5.5%;
    opacity: 0.5;
    transition: all 0.3s;
}

.md-inner .md-slider .slick-next:hover {
    opacity: 1;
}

/* ----- coffebene_cont ----- */
.cont-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cont-inner .cont-box {
    display: block;
    width: 100%;
    height: 750px;
    margin: 75px 0;
    background-color: white;
}

.cont-inner .cont-box .box-bene {
    width: 370px;
    height: 375px;
    background-color: white;

}

.cont-inner .cont-box .box-bene a {
    position: absolute;
    width: 370px;
    height: 375px;
    text-align: center;
}

.cont-inner .cont-box .box-bene a img {
    margin-top: 70px;
}

.cont-inner .cont-box .box-bene a p {
    margin-top: 30px;
    font-size: 14px;
    color: #262626;
    line-height: 1.3;
}

.cont-inner .cont-box .box-cat {
    width: 370px;
    height: 375px;
    background-color: white;
    float: left;

}

.cont-inner .cont-box .box-cat a {
    position: absolute;
    width: 370px;
    height: 375px;
    overflow: hidden;
}

.cont-inner .cont-box .box-cat a p {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 25px;
    line-height: 30px;
}

.cont-inner .cont-box .box-cat a p strong {
    font-size: 35px;
    font-weight: 700;
}

.cont-inner .cont-box .box-cat a .bg {
    transform: scale(1, 1);
    transition: all 0.7s;
}

.cont-inner .cont-box .box-cat a:hover .bg {
    transform: scale(1.05, 1.05);
}

.cont-inner .cont-box .box-cat a .more {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 25px;
}

.cont-inner .cont-box .box-join {
    width: 700px;
    height: 750px;
    background-color: #fff;
    float: left;
    position: relative;
    top: -375px;
}

.cont-inner .cont-box .box-join strong {
    display: block;
    color: #00a5b1;
    font-family: 'Cafe24SsurroundAir';
    font-size: 60px;
    font-style: italic;
    margin-bottom: 20px;
    position: absolute;
    top: 400px;
    left: 35px;
    line-height: 0;
    opacity: 0;
}

.cont-inner .cont-box .box-join>span {
    color: #273658;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    position: absolute;
    top: 600px;
    left: 35px;
    opacity: 0;
}

@keyframes joinAni1 {
    100% {
        line-height: 1.2;
        top: 40px;
        opacity: 1;
    }
}

@keyframes joinAni2 {
    100% {
        top: 280px;
        opacity: 1;
    }
}

.cont-inner .cont-box .box-join strong.on {
    animation: joinAni1 1s;
    animation-fill-mode: forwards;
}

.cont-inner .cont-box .box-join>span.on {
    animation: joinAni2 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.cont-inner .cont-box .box-join .joinBtn {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    right: 35px;
    width: 225px;
    height: 80px;
    border-radius: 100px;
    background-color: #00a5b1;
    transition: all 0.7s;
}

.cont-inner .cont-box .box-join .joinBtn:hover {
    background-color: #273658;
}

.cont-inner .cont-box .box-join .joinBtn span {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-left: 25px;
    line-height: 80px;
}

.cont-inner .cont-box .box-join .joinBtn img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    margin-left: 35px;
}

.cont-inner .cont-box .box-search {
    width: 370px;
    height: 560px;
    float: left;
    position: relative;
    top: -375px;

}

.cont-inner .cont-box .box-search p {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 25px;
    line-height: 30px;
}

.cont-inner .cont-box .box-search p strong {
    font-size: 35px;
    font-weight: 700;
}

.cont-inner .cont-box .box-search .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 560px;
    background-color: #273658;
    opacity: 0.5;
    z-index: 1;
}

.cont-inner .cont-box .box-search .searchBox {
    position: absolute;
    top: 113px;
    left: 20px;
    z-index: 2;
}

.cont-inner .cont-box .box-search .searchBox input {
    width: 330px;
    height: 35px;
    border: none;
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;

}

.cont-inner .cont-box .box-search .searchBox button {
    position: absolute;
    top: 0;
    right: 10px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.cont-inner .cont-box .box-search .searchBox button i {
    font-size: 25px;
    color: #fff;
}

.cont-inner .cont-box .box-news {
    width: 370px;
    height: 190px;
    float: left;
    position: relative;
    top: -375px;
}

.cont-inner .cont-box .box-news>span {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 2;
    color: #262626;
    font-weight: 700;
    font-size: 14px;
}

.cont-inner .cont-box .box-news>a {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    font-weight: 400;
    font-size: 14px;
    color: rgba(38, 38, 38, 1);
}

.cont-inner .cont-box .box-news>a:hover {
    color: rgba(38, 38, 38, 0.7);
}

.cont-inner .cont-box .box-news ul {
    position: absolute;
    bottom: 20px;
    left: 15px;
    z-index: 2;
}

.cont-inner .cont-box .box-news ul li {
    width: 340px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #273658;
}

.cont-inner .cont-box .box-news ul li a {
    color: rgba(38, 38, 38, 1);
    font-size: 13px;
    font-weight: 400;
}

.cont-inner .cont-box .box-news ul li:hover a {
    color: rgba(38, 38, 38, 0.7);
}

.cont-inner .cont-box .box-news ul li .date {
    position: absolute;
    right: 0;
    color: #262626;
    font-size: 12px;
}

.cont-inner .cont-box .box-news .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 190px;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
}

/* ----- coffebene_sns ----- */
.coffebene_sns .sns-slider {
    position: relative;
    width: 2000px;
    margin: 0 auto;
    left: 50%;
    margin-left: -1000px;
}

.coffebene_sns .sns-slider a {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.coffebene_sns .sns-slider a img {
    width: 400px;
    height: 400px;
    transform: scale(1, 1);
    transition: all 0.5s;
}

.coffebene_sns .sns-slider a:hover img {
    transform: scale(1.05, 1.05);
}

/* ----- sitemap ----- */
.sitemap-inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sitemap-inner .sitemap_menu {
    position: absolute;
    top: 30px;
}

.sitemap-inner .sitemap_menu>li {
    float: left;
    text-align: center;
}

.sitemap-inner .sitemap_menu>li>a {
    color: #00a5b1;
    font-weight: 700;
    font-size: 17px;
    padding: 0 50px;
}

.sitemap-inner .sitemap_menu>li>.sub_menu {
    padding-top: 20px;
    text-align: center;
}

.sitemap-inner .sitemap_menu>li>.sub_menu a {
    font-weight: 300;
    font-size: 15px;
    color: #262626;
    line-height: 1.7;
}

.sitemap-inner .sitemap-login {
    position: absolute;
    top: 30px;
    right: 0;
}

.sitemap-inner .sitemap-login li {
    text-align: right;
}

.sitemap-inner .sitemap-login li a {
    color: #262626;
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
}

.sitemap-inner .sitemap-login li:last-child a {
    color: #00a5b1;
}

.sitemap-inner .sitemap-sns {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.sitemap-inner .sitemap-sns li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-color: #00a5b1;
    border-radius: 50px;
    transition: all 0.5s;
}

.sitemap-inner .sitemap-sns li:hover {
    background-color: #273658;
}

.sitemap-inner .sitemap-sns li i {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    margin-left: 12px;
}

.sitemap-inner .sitemap-sns li .blog {
    width: 20px;
    height: auto;
    margin-top: 12px;
    margin-left: 10px;
}

.sitemap-inner .sitemap-sns li:last-child i {
    margin-left: 10px;
}

/* ----- footer ----- */
.f_left {
    position: relative;
    float: left;
    width: 25%;
    height: 100px;
    background-color: #273658;
}

.f_left h1 {
    width: 120px;
    height: 65px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    right: 190px;
}

.f_left span {
    position: absolute;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    top: 58px;
    right: 20px;
    line-height: 1.1;
}

.f_right {
    float: right;
    width: 75%;
    height: 100px;
    background-color: #00a5b1;
}

.f_right .footer-inner {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.f_right .footer-inner .privacy li {
    float: left;
    margin-right: 20px;
}

.f_right .footer-inner .privacy li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.f_right .footer-inner .privacy li a strong {
    font-weight: 700;
}

.f_right .footer-inner p {
    clear: both;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}

.f_right .footer-inner p strong {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.f_right .footer-inner .info{
    margin-top: 5px;
}

.f_right .footer-inner .info li {
    float: left;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.f_right .footer-inner .info li strong {
    font-weight: 700;
}